# The Image Drive You Want to use.
# Default is 'gd' which is the same one Bolt uses for it's thumbnail handling.
# Options are:
# * GD
# * ImageMagick -> you'll need the imagick php extension for this to work
# http://php.net/manual/en/book.imagick.php
Image_Driver: 'gd'

# --------------------------------------------------------------------------------- #
# To use picturefill for older browsers that don't recognize img srcset
# picturefill docs and usage page: http://scottjehl.github.io/picturefill/
# values are true or false.
# true means "yes use picturefill"
# false means "no I don't want to use picturefill"
# --------------------------------------------------------------------------------- #
picturefill: false

# --------------------------------------------------------------------------------- #
# Not Found Image.
# If the image doesn't exist this is the image that will be served in it's place.
#
# If this is enabled and the image portion is left blank then Bolt's default
# "view/img/default_notfound.png.png" will be used. You can supply your own not found image if you like just
# put the path to your image you'd like to use for instance:
# 404_Image: '/theme/yourTheme/img/notfound.png'
# --------------------------------------------------------------------------------- #
404_Image: /path/to/your/image.png


# --------------------------------------------------------------------------------- #
# SECURITY
# Secure your thumbnails with a key. This is defaulted to True which means any thumbnail
#modification done that is not signed with your key will not be allowed to be made.
# a 128 character key or larger is recommended to be used.
#
# max_image_size: limits how large images can be generated see: http://glide.thephpleague.com/1.0/config/security/#max-image-size
# you should put a number here how large you want the image to be. Like the example from Glide's docs of
# 2000*2000 the max would be 4000000.
# Use the result of the multiplication here. ex 300 * 300 would be:
# max_image_size: 90000
# --------------------------------------------------------------------------------- #
security:
  secure_thumbs: true
  secure_sign_key: '5kLobJbjDNwpZgkbj4l0Mh1ZI1eeoa55BPVymrby/77aF0VaLOB40189PGhIt/bG0OlekrIAxJ4nfz6UP1yWRF12359BSZkul6q9AZA0Jtgg+Ok9CbfsEH5qZNQJiyy8zTmqVjvso1JewwBBu8LcnsFECzs2WBU0A9IGfcgj2So='
  max_image_size: 4000000


# --------------------------------------------------------------------------------- #
# Defaults
# Defaults used for each and every image manipulation.
# We've set the quality of images to 80 to match Bolt's thumbnail handler you can override this
# with a setting of your choosing. But choose wisely big images = unnecessary load on the users end.
# --------------------------------------------------------------------------------- #
defaults:
  q: 80

# --------------------------------------------------------------------------------- #
# Presets
# Standard Image Manipulations used throughout your site.
# The '&presets' after 'presets:' is there for use in a repeated node. It gives these presets a name
# and allows us to use these settings again somewhere else in a named config
# --------------------------------------------------------------------------------- #
presets: &presets
  small:
    w: 175
    fit: stretch
  medium:
    w: 350
    fit: stretch
  large:
    w: 700
    fit: stretch
  xlarge:
    w: 1400
    fit: stretch


# --------------------------------------------------------------------------------- #
# The extensions fall back defaults.
# This uses yaml's "repeated nodes". This will take the settings set in Presets above and use them as
# "defaults". You can use them as well in any named config you wish to use/create
# --------------------------------------------------------------------------------- #
betterthumbs:
  save_data: true
  altText: ~
  widthDensity: 'w'
  sizes: [ '100vw' ]
  modifications:
    <<: *presets
# --------------------------------------------------------------------------------- #
# a named image configuration group.
# --------------------------------------------------------------------------------- #
srcset:
  sizes: [ '100vw'  ]
  modifications:
    small: { 'w': 340 }
    medium: { 'w': 680 }
    large: { 'w': 800 }
    xlarge: { 'w': 1260 }


ScreenDensity:
  class: []
  altText: '~'
  widthDensity: 'x'
  resolutions: [ 1, 2, 3 ]
  modifications:
    small: { 'w': 175, 'fit': 'stretch' }
    medium:
      w: 350
      fit: stretch
    large:
      w: 700
      fit: stretch
    xlarge:
      w: 1400
      fit: stretch



# --------------------------------------------------------------------------------- #
#
# All available configuration options:
#
# --------------------------------------------------------------------------------- #

# class: []
# id: ''
# data_attrib: { 'key': 'value'}
# altText: ''
# widthDensity: 'w' or 'x'
# sizes: []
# resolutions: [ ]
# use_original:
# modifications:
#  modifications here:::
