# The Image Drive You Want to use.
# Default is 'gd' which is the same one Bolt uses for it's thumbnail handling.
# Options are:
# * GD
# * ImageMagick -> you'll need the imagick php extension for this to work http://php.net/manual/en/book.imagick.php
Image_Driver: 'gd'

# --------------------------------------------------------------------------------- #
# SECURITY                                                                                                           #
# Secure your thumbnails with a key. This is defaulted to True which means any thumbnail modification done that
# is not signed with your key will not be allowed to be made.
# a 128 character key or larger is recommended to be used.
# --------------------------------------------------------------------------------- #
security:
  secure_thumbs: true
  secure_sign_key: '5kLobJbjDNwpZgkbj4l0Mh1ZI1eeoa55BPVymrby/77aF0VaLOB40189PGhIt/bG0OlekrIAxJ4nfz6UP1yWRF12359BSZkul6q9AZA0Jtgg+Ok9CbfsEH5qZNQJiyy8zTmqVjvso1JewwBBu8LcnsFECzs2WBU0A9IGfcgj2So='


# --------------------------------------------------------------------------------- #
# Defaults
# Defaults used for each and every image manipulation.
# We've set the quality of images to 80 to match Bolt's thumbnail handler you can override this
# with a setting of your choosing. But choose wisely big images = unnecessary load on the users end.
# --------------------------------------------------------------------------------- #
defaults:
  q: 80

# --------------------------------------------------------------------------------- #
# Presets
# Standard Image Manipulations used throughout your site.
# THe '&presets' after 'presets:' is there for use in a repeated node. It gives these presets a name and allows
# use to use these settings again somewhere else in a named config
# --------------------------------------------------------------------------------- #
presets: &presets
  small:
    w: 175
    fit: stretch
  medium:
    w: 350
    h: 350
    fit: stretch
  large:
    w: 700
    fit: stretch
  xlarge:
    w: 1400
    fit: stretch


# --------------------------------------------------------------------------------- #
# The extensions fall back defaults.
# This uses yaml's "repeated nodes". This will take the settings set in Presets above and use them as
# "defaults". You can use them as well in any named config you wish to use/create
# --------------------------------------------------------------------------------- #
betterthumbs:
  save_data: true
  altText: ~
  widthDensity: 'w'
  sizes: [ '100vw' ]
  modifications:
    <<: *presets
# --------------------------------------------------------------------------------- #
# a named image configuration group.
# --------------------------------------------------------------------------------- #
srcset:
  sizes: [ '100vw'  ]
  modifications:
    small: { 'w': 340 }
    medium: { 'w': 680 }
    large: { 'w': 800 }
    xlarge: { 'w': 1260 }


ScreenDensity:
  class: []
  altText: '~'
  widthDensity: 'x'
  modifications:
    small: { 'w': 175, 'fit': 'stretch' }
    medium:
      w: 350
      h: 350
      fit: stretch
    large:
      w: 700
      fit: stretch
    xlarge:
      w: 1400
      fit: stretch



# --------------------------------------------------------------------------------- #
#
# All available configuration options:
#
# --------------------------------------------------------------------------------- #

# class: []
# id: ''
# data_attrib: { 'key': 'value'}
# altText: ''
# widthDensity: 'w' or 'x'
# sizes: []
# resolutions: [ ]
# modifications:
#  modifications here:::
